// Normalize
@import './settings/settings';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
}

a,
p,
div,
span,
small,
label,
input,
button {
  font-family: 'Hind Madurai', sans-serif;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}
